.ant-picker-cell {
    height: 200px;
}

.ant-picker-cell-inner {
    height: 100% !important;
    margin-bottom: 7px !important;
}

.events > li img {
    /* border-radius: 15px; */
}

.events
img.toMake, .info-card.toMake {
    border-left: 5px solid #f5222d;
}

.events
img.toSell, .info-card.toSell {
    border-left: 5px solid #faad14;
}

.events
img.sold, .info-card.sold {
    border-left: 5px solid #52c41a;
}

.events > li {
    width: 100%;
}

.events {
    display: flex;
    flex-wrap: wrap;
}

.ant-picker-calendar-date-content {
    height: 100% !important;
}