.ant-picker-cell {
    height: 50px;
}

.ant-picker-cell-inner {
    height: 100% !important;
    margin-bottom: 7px !important;
}

.events > li img {
    /* border-radius: 15px; */
}

.events
img.toMake, .info-card.toMake {
    border-left: 5px solid #f5222d;
}

.events
img.toSell, .info-card.toSell {
    border-left: 5px solid #faad14;
}

.events
img.sold, .info-card.sold {
    border-left: 5px solid #52c41a;
}

.events > li {
    width: 100%;
}

.events {
    display: flex;
    flex-wrap: wrap;
}

.ant-picker-calendar-date-content {
    height: 100% !important;
}

.ant-picker-calendar-mode-switch {
    display: none;
}

@media only screen and (max-width: 768px) {
    .ant-modal {
        height: 100%;
        width: 100%!important;
        max-width: 100%!important;
        transform-origin: 0%!important;
        margin: 0!important;
    }

    .ant-modal-wrap {
        display: flex;
        align-items: center;
        overflow: hidden!important;
    }

    .ant-input {
        font-size: 16px!important;
    }
}

.ant-form-item-extra {
    text-align: right;
}

.ant-btn-primary {
    color: white;
    /* height: 32px; */
    background-color: #1677ff;
}

.ant-picker-panel {
    border-radius: 6px!important;
    padding: 6px;
}